* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Nav Bar */
#nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 5px;
  height: 7vh;
}

/* Logo */
#nav-bar .logo {
  font-weight: bold;
  font-size: 2em;
}

/* List */
#nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  gap: 50px;
  font-size: 1.2em;
}

#nav-bar ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

#nav-bar ul li:active {
  text-decoration: none;
}

/* Main Body */
#main-content {
  flex: 1;
  position: relative;
}

#main-content::before {
  content: '';
  background-image: url('../assets/pasta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

/* Information section */
#main-content .information {
  position: relative;
  background: rgba(228, 223, 223, 0.8);
  margin: 1.5em;
  padding: 1.2em;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content #intro {
  justify-content: center;
  gap: 10px;
}

#intro h1 {
  font-size: 70px;
}

#intro p {
  font-size: 18px;
}